.success{
    border: 2px green solid;
    display: flex;
    box-sizing: content-box;
    justify-content: center;
    background-color: mintcream;
    width: 30vw;
    border-radius: 0.75rem;
}

.success p {
    margin: 10px 0;
}